.panel-default > .panel-heading {
  background-color: #428BCA;
  color: #fff;
}
.panel-heading:hover {
  background-color: #fff;
  color: #428BCA;
}
h4.panel-title {
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 18px;
  text-transform: uppercase;
}
.panel-heading h4 a:hover {
  text-decoration: none;
}
.panel-heading a span {
  float: right;
}
#faq .row {
  margin-left: 0px;
  margin-bottom: 10px;
}
.learn-more {
  float: left;
  text-align: left;
}
.modal-button {
  float: right;
  padding: 15px;
}
.modal-dialog {
  margin-top: 200px;
}
.modal-body {
  height: 500px;
}
#modalFrame {
  padding: 10px;
  width: 100%;
  height: 100%;
}
#faq table {
  width: 70%;
  margin: 20px auto;
}
#faq table tr,
#faq table th {
  text-align: center;
}
#faq th:first-child,
#faq td:first-child {
  text-align: right;
}
#faq table tr:first-of-type {
  height: 35px;
}
